@tailwind base;
@tailwind components;
@tailwind utilities;
@import './menu.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ul.employment__type {
  list-style-type: none;
}

// .employment__type li {
//   position: relative;
//   padding-left: 15px;
// }

// .employment__type li::before {
//   content: "ãƒ»";
//   position: absolute;
//   left: 0;
//   margin-right: 8px;
// }

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }

// @layer utilities {
//   .text-balance {
//     text-wrap: balance;
//   }
// }
