.btn {
  letter-spacing: 2px;
}

.btn-primary {
  color: $light;
  border-color: $primary !important;
  background-color: $primary !important;
}

.btn-primary:hover {
  color: $primary !important;
  border-color: $primary !important;
  background-color: $light !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-outline-primary {
  color: $primary !important;
  border-color: $primary !important;  
}

.btn-outline-primary:hover {
  color: $light !important;
  border-color: $primary !important;
  background-color: $primary !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-secondary {
  color: $light;
  border-color: $secondary !important;
  background-color: $secondary !important;
}

.btn-secondary:hover {
  color: $secondary !important;
  border-color: $secondary !important;
  background-color: $light !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-outline-secondary {
  color: $secondary !important;
  border-color: $secondary !important;  
}

.btn-outline-secondary:hover {
  color: $light !important;
  border-color: $secondary !important;
  background-color: $secondary !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-success {
  color: $light;
  border-color: $success !important;
  background-color: $success !important;
}

.btn-outline-success {
  color: $success !important;
  border-color: $success !important;
}

.btn-outline-success:hover {
  color: $light !important;
  background-color: $success !important;
  border-color: $success !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-info {
  color: $light;
  border-color: $info !important;
  background-color: $info !important;
}

.btn-info:hover {
  color: $info !important;
  border-color: $info !important;
  background-color: $light !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-outline-info {
  color: $info !important;
  border-color: $info !important;  
}

.btn-outline-info:hover {
  color: $light !important;
  border-color: $info !important;
  background-color: $info !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-danger {
  color: $light;
  border-color: $danger !important;
  background-color: $danger !important;
}

.btn-danger:hover {
  color: $danger !important;
  border-color: $danger !important;
  background-color: $light !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-outline-danger {
  color: $danger !important;
  border-color: $danger !important;  
}

.btn-outline-danger:hover {
  color: $light !important;
  border-color: $danger !important;
  background-color: $danger !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-light {
  color: $dark;
  border-color: $light !important;
  background-color: $light !important;
}

.btn-light:hover {
  color: $primary !important;
  border-color: $darker-light !important;
  background-color: $darker-light !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-outline-light {
  color: $light !important;
  border-color: $light !important;  
}

.btn-outline-light:hover {
  color: $dark !important;
  border-color: $darker-light !important;
  background-color: $darker-light !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-dark {
  color: $light;
  border-color: $dark !important;
  background-color: $dark !important;
}

.btn-dark:hover {
  color: $light !important;
  border-color: $lighter-dark !important;
  background-color: $lighter-dark !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-outline-dark {
  color: $dark !important;
  border-color: $dark !important;  
}

.btn-outline-dark:hover {
  color: $light !important;
  border-color: $lighter-dark !important;
  background-color: $lighter-dark !important;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-shadow:hover {
  box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
}

.cursor-pointer {
  cursor: pointer;
}
