.card {
  border-radius: px2rem(14) !important;
  letter-spacing: .5px;
}

.educations {
  .card {
    height: px2rem(107);
    width: 100%;
    
    .card-body {
      span {
        &:nth-child(1) {
          font-weight: 700;
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .educations {
    .card {
      width: px2rem(300);
    }
  }
}

// .card-education {
//   min-height: px2rem(110);

//   span:nth-of-type(1) {
//     font-size: px2rem(20);
//   }
// }

// .card-experience {
//   width: px2rem(150);
//   height: px2rem(150);

//   .company-image {
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
//     padding: px2rem(12);
//   }
// }

// .card-experience-detail {
//   width: px2rem(150);
//   z-index: 1;
// }

// .card-project {
//   width: 94vw;
//   height: px2rem(170);
//   cursor: pointer;

//   .image-wrapper {
//     width: px2rem(135);
//     max-width: px2rem(135);
//     height: px2rem(135);
//     margin-right: px2rem(8);
//   }

//   .company-image {
//     width: inherit;
//     height: 100%;
//     object-fit: contain;
//     padding: px2rem(8);
//   }

//   .company-text {
//     width: inherit;
//     height: 100%;
//     background-color: #fcfcfc;
//     padding: px2rem(8);
//     margin: 0 !important;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     letter-spacing: px2rem(4);
//     font-size: px2rem(12);
//     font-weight: 600;
//   }

//   .info-wrapper {
//     span {
//       &:nth-of-type(1) {
//         font-weight: 600;
//         font-size: px2rem(16);
//       }
//     }
//   }
// }

// @media (min-width: 992px) {
//   .card-education {
//     .card-body {
//       min-width: px2rem(386);
//     }
//   }

//   .card-project {
//     width: px2rem(380);
//     height: px2rem(170);

//     .image-wrapper {
//       width: px2rem(135);
//       height: px2rem(135);
//       margin-right: px2rem(8);
//     }

//     .company-image {
//       width: inherit;
//       height: 100%;
//       object-fit: contain;
//       padding: px2rem(8);
//     }

//     .company-text {
//       width: 100%;
//       height: 100%;
//       background-color: #fcfcfc;
//       padding: px2rem(8);
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       letter-spacing: px2rem(4);
//       font-size: px2rem(12);
//       font-weight: 600;
//     }

//     .info-wrapper {
//       span {
//         &:nth-of-type(1) {
//           font-weight: 600;
//           font-size: px2rem(16);
//         }
//       }
//     }
//   }
// }
