.footer {
  background: #fcfcfc;

  &__wrapper {
    margin: auto;
    padding: px2rem(24) px2rem(16);

    hr {
      margin: 2rem 0;
    }

    .sns-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: 992px) {
  .footer {
    &__wrapper {
      max-width: px2rem(1200);

      .sns-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
