.footer {
  background: #fcfcfc;

  &__wrapper {
    margin: auto;
    padding: px2rem(24) px2rem(16);
    letter-spacing: 1px;

    .copyright {
      font-size: px2rem(12);
    }

    hr {
      margin: 2rem 0;
    }

    .sns-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .identity {
      color: $lighter-dark;
      text-decoration: none;
    }
  }
}

@media (min-width: 992px) {
  .footer {
    &__wrapper {
      max-width: px2rem(1200);

      .copyright {
        font-size: px2rem(16);
      }

      .sns-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
