.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: auto;
}

.bottom-sheet {
  .menu-item {
    font-size: px2rem(32);
    padding: 4px 0;
  }
}

@media (min-width: 992px) {
  .header {
    max-width: px2rem(1200);
  }
}
