.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: auto;
  background-color: transparent;
  border-color: none;

  .menu-item {
    font-weight: 600;
    letter-spacing: 2.2px;
    transition: color 0.2s ease;
  }

  .menu-item:hover {
    color: $lighter-dark;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
  }

  .menu-items {
    font-weight: 600;
    letter-spacing: 2.2px;
    transition: color 0.2s ease;
  }

  .menu-items:hover {
    color: $primary;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
  }

  &__menu-button {
    border-radius: px2rem(14) !important;
  }
}

.header.header-fix {
  position: fixed;
  z-index: 3;
  width: 100%;
  transition: background-color 0.2s ease;
  color: #fff;
}

.header.scrolled {
  color: #000;
  background: #ffffff3b;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(13.2px);
  transition: background-color 0.2s ease;

  .menu-item {
    color: $dark;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
  }

  .menu-item:hover {
    color: $primary;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
  }

  .menu-items {
    color: $dark;
    font-weight: 600;
    letter-spacing: 2.2px;
    transition: color 0.2s ease;
  }

  .menu-items:hover {
    color: $primary;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
  }
}

.bottom-sheet {
  .menu-item {
    font-size: px2rem(32);
    padding: 4px 0;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

@media (min-width: 992px) {
  .header {
    padding: px2rem(16) px2rem(360);
  }
}
