.landing {
  .home {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    // background-color: $primary;
    background-image: url('/assets/images/banner.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &__container {
      .text {
        display: flex;
        flex-direction: column;
        
        span {
          color: #f3f2f1;
          text-shadow: $primary-dark 1px 0px 0px, $primary-dark 0.540302px 0.841471px 0px, $primary-dark -0.416147px 0.909297px 0px, $primary-dark -0.989992px 0.14112px 0px, $primary-dark -0.653644px -0.756802px 0px, $primary-dark 0.283662px -0.958924px 0px, $primary-dark 0.96017px -0.279415px 0px;
          
          &:nth-of-type(1) {
            font-size: px2rem(28);
            font-weight: 700;
          }
          &:nth-of-type(2) {
            font-size: px2rem(16);
            margin-bottom: 16px;
          }
          &:nth-of-type(3) {
            font-size: px2rem(18);
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .educations {
    display: flex;
    align-items: center;
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
    }
    
    .card-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      
      & > div {
        width: px2rem(160);
        height: px2rem(160);
        padding: px2rem(20);
        display: flex;
        
        & > img {
          object-fit: contain;
          width: -webkit-fill-available;
          width: px2rem(120);
        }
      }
    }
  }

  .experiences {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px2rem(64);
    background-color: #00c691;

    h1 {
      color: #ffffff ;
    }

    .card-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      
      & > div {
        width: px2rem(160);
        height: px2rem(160);
        padding: px2rem(20);
        display: flex;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        border-radius: px2rem(14);
        background-color: #fff;
        
        & > img {
          object-fit: contain;
          width: -webkit-fill-available;
          width: px2rem(120);
        }
      }
    }
  }

  .projects {
    padding: px2rem(64) 0;

    .card-projects {
      margin: 0;
    }

    .card-item {
      height: px2rem(400);
      padding: px2rem(16);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      border-radius: px2rem(14);
      background-color: #fff;

      div {
        &:nth-of-type(1) {
          width: 100%;
          height: px2rem(268);
          display: flex;
          align-items: center;
          justify-content: center;
  
          & > img {
            width: 100%;
          }

          & > svg {
            font-size: 120px;
            opacity: 0.1;
          }
        }

        &:nth-of-type(2) {
          span {
            &:nth-child(1) {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .landing {
    .home {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      object-fit: cover;
    }

    .educations {
      margin: px2rem(64) 0;
    }

    .skills {
      margin: px2rem(128) 0;
    }

    .experiences {
      margin: px2rem(128) 0;

      h1 {
        text-align: center;
      }

      .card-wrapper > div {
        margin: px2rem(16) 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .landing {
    .educations {
      height: px2rem(540);
    }

    .skills {
      height: px2rem(540);

      .card-wrapper {
        flex-direction: row;

        & > div {
          margin: auto px2rem(24);
        }
      }
    }

    .experiences {
      height: px2rem(540);

      .container {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          margin-right: px2rem(64);
        }
      }

      .card-wrapper {
        flex-direction: row;

        & > div {
          margin: auto px2rem(24);
        }
      }
    }
  }
}
