$primary:     #1ea5fc !default;
$secondary:   #f397ae !default;
$success:     #00e676 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success
) !default;