// function
@function px2rem($px) {
  @if unitless($px) {
    @return 1rem * ($px/16);
  } @else {
    @return 1rem * ($px/16px);
  }
}

@function rem2px($rem) {
  @if unitless($rem) {
    @return 16px * ($rem);
  } @else {
    @return 16px * ($rem/1rem);
  }
}

// variables
$primary:     #1ea5fc !default;
$secondary:   #f397ae !default;
$success:     #00c691 !default;
$info:        #6ec6ff !default;
$danger:      #f44336 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "danger":     $danger
) !default;
